@import '~bootstrap/scss/bootstrap';

$black: #000;

#message {

  font-size: 40px;
  text-align: center;

  &.success-signup {
    background-image: url("https://media1.tenor.com/images/636c85044c081d8e2dc7e9a8c0b25735/tenor.gif");
    background-size: contain;
    background-position: center;
    background-color: lavender;
  }

  &.success {
    background-color: lavender;
  }
  &.failure {
    background-color: orangered;
  }
}

.button {
  margin: 20px;
  padding: 20px;
  height: auto;
  width: 300px;
  display: inline-block;
  justify-content: space-between;

}
#create-game {
  font-size: 25px;
  color: purple;
  background-color: #2196F3;
  margin-right: 75px;
  margin-left: 125px;

}

#replay-game {
  font-size: 25px;
  color: purple;
  background-color: #2196F3;
  margin-left: 75px;
  marign-right: 100px;

}

#game-info {
  font-size: 25px;
  color: purple;
  background-color: #2196F3;
  margin-right: 100px;
  margin-left: 100px;
}

.border {
  border: 10px solid $black;
  background-color: rgb(200, 200, 220);
  height: 100px auto;
  width: 650px;
  margin: 20px;
  padding: 10px;
  margin-left: 40px;
  display: inline-flex;
}

.grid-container {
  display: none;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
